:root {
    --main-grad-color: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    --main-grad-color-hover: linear-gradient(90.41deg, #711F8D , #A818DA 1.14%);
    --main-font-family: 'Amatic SC', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: var(--main-grad-color);
    font-family: var(--main-font-family)
}

.nav-img {
    width: 40px;
    margin-right: 5px;
}

.nav-title {
    margin-right: auto;
    font-size: 24px;
}

.nav-desc {
    font-size: 22px;
}

.meme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.meme-input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    text-indent: 5px;
    border-color: rgba(80, 80, 80, 0.2);
}

.generate-btn {
    width: 620px;
    height: 40px;
    color: white;
    background: var(--main-grad-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: var(--main-font-family);
    font-weight: 700;
    transition: .5s;
}

.generate-btn:hover {
    background: var(--main-grad-color-hover);
    font-size: 24px;
}

#image-icon {
    margin-left: 10px;
}
.meme-image {
    width: 500px;
    height: 300px;
}